html { @include x-prefix(box-sizing, border-box, webkit moz); }

* {
	margin: 0;
	padding: 0;
    
    &,
    &:before,
    &:after { @include x-prefix(box-sizing, border-box, webkit moz); }
}

body {
	background: #000;
	font-family: Arial, Helvetica;
	font-size: 62.5%;
	font-weight: 700;
	text-transform: uppercase;
}

.container {
	font-size: 9.4em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1.5em;
	margin-top: -1.17em;
}

.block {
	@include x-clearfix;
	margin: 0 auto;
	width: 300px;
}

.title { position: absolute; }

.item { float: left; }

.block:nth-of-type(1) {
	.title { letter-spacing: 0.04em; }
	.item { margin-left: 0.04em; }
	.item:nth-of-type(1)  {
		@include x-prefix(animation, light-1 2s infinite alternate);
		margin-left: 0;
	}
	.item:nth-of-type(2)  { @include x-prefix(animation, light-2 2s 0.1s infinite alternate); }
	.item:nth-of-type(3)  { @include x-prefix(animation, light-3 2s 0.25s infinite alternate); }
	.item:nth-of-type(4)  { @include x-prefix(animation, light-4 2s 0.4s infinite alternate); }
	.item:nth-of-type(5)  { @include x-prefix(animation, light-5 2s 0.65s infinite alternate); }
}

.block:nth-of-type(2) {
	.title {
		@include x-prefix(animation, light-gold 2s 1.4s infinite alternate);
		letter-spacing: 0.26em;
	}
	.item { margin-left: 0.2584em;	}
	.item:nth-of-type(1) { 
		@include x-prefix(animation, light-6 2s 0.8s infinite alternate);
		margin-left: 0;
	}
	.item:nth-of-type(2)  { @include x-prefix(animation, light-6 2s 0.95s infinite alternate); }
	.item:nth-of-type(3)  { @include x-prefix(animation, light-6 2s 1.1s infinite alternate); }
	.item:nth-of-type(4)  { @include x-prefix(animation, light-6 2s 1.25s infinite alternate); }
}